{% extends 'netbox_kea/combined_base.html' %}
{% load render_table from django_tables2 %}

{% block tab_content %}

<div class="text-end mb-2">
  <div class="dropdown d-inline-block">
    <button type="button" class="btn btn-purple dropdown-toggle" data-bs-toggle="dropdown">
      <i class="mdi mdi-download"></i> Export
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="?{{ request.GET.urlencode }}&export=table">Current View (CSV)</a></li>
    </ul>
  </div>
</div>

{% if errors %}
<div class="alert alert-warning mt-3">
  <strong>Some servers could not be reached:</strong>
  <ul class="mb-0 mt-1">
    {% for name, msg in errors %}
    <li><strong>{{ name }}</strong>: {{ msg }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% render_table table %}

{% endblock tab_content %}
