{# SPDX-FileCopyrightText: 2023 Devon Mar <devon-mar@users.noreply.github.com> #}
{# SPDX-FileCopyrightText: 2026 Marcin Zieba <marcinpsk@gmail.com> #}
{# SPDX-License-Identifier: Apache-2.0 #}
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <div class="card border-danger mt-5">
        <h5 class="card-header"><i class="mdi mdi-alert"></i> Server Error</h5>
        <div class="card-body">
          An internal error occurred. Reference ID: <code>{{ error_id }}</code>
        </div>
      </div>
    </div>
  </div>
</div>
