{% extends "generic/object_children.html" %}
{# SPDX-FileCopyrightText: 2025 Marcin Zieba <marcinpsk@gmail.com> #}
{# SPDX-License-Identifier: Apache-2.0 #}

{% block head %}
  {{ block.super }}
  <style type="text/css">
    div.quicksearch { display: none }
    nav.text-end[aria-label="Pagination options"] { display: none }
  </style>
{% endblock %}

{% block bulk_controls %}{% endblock bulk_controls %}

{% block content_bottom %}
<div class="row mt-3">
  <div class="col text-end">
    <a href="{{ add_url }}" class="btn btn-primary btn-sm">
      <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
      Add DHCPv{{ dhcp_version }} Shared Network
    </a>
  </div>
</div>
{% endblock content_bottom %}
