{# SPDX-FileCopyrightText: 2023 Devon Mar <devon-mar@users.noreply.github.com> #}
{# SPDX-FileCopyrightText: 2026 Marcin Zieba <marcinpsk@gmail.com> #}
{# SPDX-License-Identifier: Apache-2.0 #}
{% extends "generic/object.html" %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Server</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Server URL</th>
              <td>{{ object.ca_url }}</td>
            </tr>
            <tr>
              <th scope="row">DHCPv6</th>
              <td>{% checkmark object.dhcp6 %}</td>
            </tr>
            <tr>
              <th scope="row">DHCPv4</th>
              <td>{% checkmark object.dhcp4 %}</td>
            </tr>
            <tr>
              <th scope="row">IPAM initial observation completed</th>
              <td>{{ object.ipam_first_complete_at|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      {% include "inc/panels/tags.html" %}
    </div>
  </div>
{% endblock content %}
