{% extends "generic/object.html" %}
{% load helpers %}

{% block head %}
  {{ block.super }}
  <style type="text/css">
    .loading-indicator{
      display: none;
    }
    .htmx-request .loading-indicator{
      display: inline;
    }
    .htmx-request.loading-indicator{
      display: inline;
    }
    div.quicksearch{
      display: none
    }
  </style>
{% endblock %}

{% block content %}
{% if object.dhcp4 and object.dhcp6 %}
<ul class="nav nav-pills justify-content-center mb-3">
  <li class="nav-item">
    <a class="nav-link{% if dhcp_version == 4 %} active{% endif %}" href="{% url 'plugins:netbox_kea:server_leases4' object.pk %}">DHCPv4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if dhcp_version == 6 %} active{% endif %}" href="{% url 'plugins:netbox_kea:server_leases6' object.pk %}">DHCPv6</a>
  </li>
</ul>
{% endif %}
{% include "netbox_kea/server_dhcp_leases_htmx.html" with is_embedded=True %}
{% endblock %}
{% block content_bottom %}
  {% if add_url or bulk_import_url %}
  <div class="mt-3 d-flex gap-2">
    {% if add_url %}
    <a href="{{ add_url }}" class="btn btn-sm btn-primary">
      <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add Lease
    </a>
    {% endif %}
    {% if bulk_import_url %}
    <a href="{{ bulk_import_url }}" class="btn btn-sm btn-outline-primary">
      <i class="mdi mdi-upload" aria-hidden="true"></i> Bulk Import
    </a>
    {% endif %}
  </div>
  {% endif %}
{% endblock content_bottom %}
{% block modals %}
  {{ block.super }}
  {% table_config_form table table_name="LeasesTable" %}
{% endblock %}
