{# SPDX-FileCopyrightText: 2026 Marcin Zieba <marcinpsk@gmail.com> #}
{# SPDX-License-Identifier: Apache-2.0 #}
{% with opts=record.options %}
{% if opts or record.ddns_qualifying_suffix %}
<span>
{% if opts.gateway %}{% include "netbox_kea/inc/subnet_option.html" with option=opts.gateway label="GW" title="Gateway" %}{% endif %}
{% if opts.dns_servers.ambiguous %} {% include "netbox_kea/inc/subnet_option.html" with option=opts.dns_servers label="DNS" %}
{% elif opts.dns_servers %} <span data-bs-toggle="tooltip" title="DNS: {{ opts.dns_servers.data }}">
  <abbr>DNS{% if opts.domain_name and not opts.domain_name.ambiguous %}: {{ opts.domain_name.data }}{% endif %}</abbr>
</span>{% endif %}
{% if opts.domain_name.ambiguous or opts.domain_name and not opts.dns_servers.data %} {% include "netbox_kea/inc/subnet_option.html" with option=opts.domain_name label="Domain" title="Domain name" %}{% endif %}
{% if opts.ntp_servers %} {% include "netbox_kea/inc/subnet_option.html" with option=opts.ntp_servers label="NTP" title="NTP" %}{% endif %}
{% if record.ddns_qualifying_suffix %} <span data-bs-toggle="tooltip" title="DDNS qualifying suffix: {{ record.ddns_qualifying_suffix }}">DDNS: {{ record.ddns_qualifying_suffix }}</span>{% endif %}
</span>
{% endif %}{% endwith %}
